*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    position:relative;
    height:100vh;
    width:100%;
}

#container{
    position:absolute;
    top:50%;
    left:50%;

    /* 이렇게하면 덮어씌워서 제대로 동작하지 않는다. */
    /* transform: translateX(-50%);
    transform: translateY(-50%); */

    transform:translate(-50%,-50%);
    width:50%;
    height:50vh;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#button_container{
    width:30%;
    height:120px;

    margin-bottom:20px;
    
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
#button_container > button{
    display:inline-block;
    width:100%;
    height:90%;

    cursor:pointer;
    background-color:white;
    border:1px solid black;
}

#color_text_container{
    width:100%;
    height:200px;

    border:1px solid black;
    border-radius:50px;
    box-shadow: 0 0 10px 0px gray;
}