* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#calculator_container {
    position: relative;

    margin: 0 auto;
    height: 100vh;
    width: 30%;
}

#calculator {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 100%;
    height: 50%;

    border: 1px solid lightpink;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cal_window {
    width: 90%;
    height: 20%;
    margin-bottom: 20px;
    padding:20px;

    border: 1px solid gray;
    border-radius: 10px;

    font-size:20px;
    line-height:30px;
    
    overflow-x:auto;
    overflow-y:hidden;
    white-space: nowrap;
}

#button_grid_container {
    width: 90%;
    height: 70%;

    display: grid;
    /* minmax를 쓰는 이유 - 컨테이너가 줄어들어도 item이 줄어들지 않는다 */
    grid-template-columns: repeat(4, minmax(0,1fr));
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    
} 

.button_grid_item {
    /* px로 줬더니, item cell이 줄어들어도 안줄어듬 */
    /* width: 100px; */
    width:90%;
    height: 50px;

    background-color: lightpink;
    border-color:lightpink;
}