*{
    margin:0;
    padding:0;
    box-sizing: border-box;

     font-family: "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
}

body{
    position:relative;
}

@keyframes showTag{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
.triangle{
    position:absolute;

    /* 직각삼각형 */
    width:0px;
    height:0px;

    z-index:-1;

    opacity:0;
}
.triangle1{
    top:0;
    left:0;

    /* 직각삼각형을 만들기 위해 필요*/
    border-top:60vh solid rgba(237, 155, 157, 0.8);
    /* border-width의 퍼센트는 부모 요소의 width/height 기준이 아니라, “요소의 own height/width” 기준으로 계산 */
    border-left: 0px solid transparent; 
    border-right: 50vw solid transparent;
    
    animation-name:showTag;
    animation-duration:0.5s;
    animation-timing-function: linear;
    /* 애니메이션이 종료된 후 마지막 키프레임 상태를 유지 */
    animation-fill-mode: forwards;
    
} 
.triangle2{
    top:50vh;
    left:0;
    /* 직각삼각형을 만들기 위해 필요 */
    border-bottom:60vh solid rgba(125, 134, 207, 0.8);
    /* border-width의 퍼센트는 부모 요소의 width/height 기준이 아니라, “요소의 own height/width” 기준으로 계산 */
    border-left: 0px solid transparent; 
    border-right: 50vw solid transparent; 
    
    animation-name:showTag;
    animation-delay:0.5s;
    animation-duration:0.5s;
    animation-timing-function: linear;
     /* 애니메이션이 종료된 후 마지막 키프레임 상태를 유지 */
    animation-fill-mode: forwards;
   
}
.triangle3{
    top:0;
    left:50vw;
    /* 직각삼각형을 만들기 위해 필요 */
    border-top:60vh solid rgba(151, 209, 227, 0.8);
    /* border-width의 퍼센트는 부모 요소의 width/height 기준이 아니라, “요소의 own height/width” 기준으로 계산 */
    border-left: 50vw solid transparent; 
    border-right: 0px solid transparent;  

    animation-name:showTag;
    animation-delay:1s;
    animation-duration:0.5s;
    animation-timing-function: linear;
     /* 애니메이션이 종료된 후 마지막 키프레임 상태를 유지 */
    animation-fill-mode: forwards;
   
}
.triangle4{
    top:50vh;
    left:50vw;
    /* 직각삼각형을 만들기 위해 필요 */
    border-bottom:60vh solid rgba(242, 203, 173, 0.8);
    /* border-width의 퍼센트는 부모 요소의 width/height 기준이 아니라, “요소의 own height/width” 기준으로 계산 */
    border-left: 50vw solid transparent; 
    border-right: 0px solid transparent; 
    
    animation-name:showTag;
    animation-delay:1.5s;
    animation-duration:0.5s;
    animation-timing-function: linear;
     /* 애니메이션이 종료된 후 마지막 키프레임 상태를 유지 */
    animation-fill-mode: forwards;
   
}

#form_container{
    position:relative;
    margin: 0 auto;

    width:40%;
    height:100vh;
}

#login{
    position:absolute;
    top:50%;
    transform: translateY(-50%);

    width:100%;
    height:50%;

    border-radius:10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
   
    animation-name:showTag;
    animation-delay:2s;
    animation-duration:0.5s;
    animation-timing-function: linear;
     /* 애니메이션이 종료된 후 마지막 키프레임 상태를 유지 */
    animation-fill-mode: forwards;

    opacity:0;
}

#login_title{
    width:100%;
    height:100px;

    text-align:center;
    line-height:100px;
    color:black;
    font-size:20px;
    font-weight:bold;
}

.input_container{
    width:80%;
    height:100px;
    margin: 10px auto;

    display:flex;
    flex-direction: column;
    justify-content: column;
    gap:10px;

    color:gray;
}

input{
    display:inline-block;
    width:100%;
    height:60px;
    padding:10px;

    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color:gray;
}
input:focus{
    outline: none;
}

.button_container{
    width:60%;
    height:50px;
    margin: 10px auto;
    margin-top:30px;
    
}

#login_button{
    width:100%;
    height:100%;
    background-color:rgba(255, 255, 255, 1);
    border:1px solid rgba(0,0,0,1);
    border-radius:10px;
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.3);
}

