*{
    margin:0;
    padding:0;
    box-sizing: border-box;

     font-family: "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
}

body{
    background-color: #080710;
    position:relative;
}

.circle{
    position:absolute;

    width:200px;
    height:200px;
    background-color:white;
    border-radius:50%;

    z-index:-1;
}
.circle1{
    top:15%;
    left:25%;

    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
.circle2{
    top:60%;
    left:60%;

    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

#form_container{
    position:relative;
    margin: 0 auto;

    width:40%;
    height:100vh;
}

#login{
    position:absolute;
    top:50%;
    transform: translateY(-50%);

    width:100%;
    height:50%;

    background-color: rgba(255, 255, 255, 0.1);
    /* 
        backdrop-filter는 CSS에서 요소 뒤쪽에 있는 배경에 시각 효과를 적용하는 속성
        “투명한 유리창” 느낌을 만들 때 쓰는 것 
    */
    backdrop-filter: blur(5px);

    border-radius:10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
   
}

#login_title{
    width:100%;
    height:100px;

    text-align:center;
    line-height:100px;
    color:white;

}

.input_container{
    width:80%;
    height:100px;
    margin: 10px auto;

    display:flex;
    flex-direction: column;
    justify-content: column;
    gap:10px;

    color:white;
}

input{
    display:inline-block;
    width:100%;
    height:60px;
    padding:10px;

    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    color:white;
}
input:focus{
    outline: none;
}

.button_container{
    width:60%;
    height:50px;
    margin: 10px auto;
    margin-top:30px;
    
}

#login_button{
    width:100%;
    height:100%;
    background-color:rgba(255, 255, 255, 1);
    border:1px solid white;
    border-radius:10px;
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.3);
}

