*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* html,body {
    height: 100%;
} */

#container{
    position:relative;

    margin:0px auto;
    width:50%;
    /* 100%를 쓸꺼면 html,body모두 100%를 줘야함 */
    /* height:100%; */
    height:100vh;
}

#my_profile{
    position: absolute;
    top: 50%;
    /*요소의 높이의 반(50%) 만큼 위로 이동*/
    transform: translateY(-50%);

    width:100%;
    height:60%;

    font-family: "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    border:1px solid rgb(48, 2, 59);
    border-radius:10px;
    box-shadow: 0 0 10px 5px rgba(48, 2, 59, 0.3);

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#my_walk{
    width:100%;
    height:90%;
    margin:0 auto;
    margin-bottom:10px;
    padding:10px;
    
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.place{
    width:100%;
    height:33%;
    margin-bottom:10px;

    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.place_picture{
    width:50%;
    height:100%;
    /* margin-right:10px; */
}
.ilove1{
    background-image: url('./images/my_introduce_hobby_game1.jpg');
    background-size:100% 100%;
    background-repeat: no-repeat;
}
.ilove2{
    background-image: url('./images/my_introduce_hobby_game2.jpg');
    background-size:100% 100%;
    background-repeat: no-repeat;
}
.ilove3{
    background-image: url('./images/my_introduce_hobby_game3.jpg');
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.place_text{
    width:50%;
    height:100%;
    padding-left:10px;
}

#my_home{
    width:60%;
    height:10%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#my_home > div{
    margin-bottom:10px;

    width:100%;
    height:50px;

    text-align:center;
}
#my_home > .home{
    background-image: linear-gradient(to left top, #d390d6, #db9adb, #e3a4e1, #eaaee6, #f2b8ec);
    border-radius:100px;
}
#my_home > .home >a {
    display:inline-block;

    width:100%;
    height:100%;
    line-height:50px; 

    text-decoration: none;
    color:white;
    font-size:20px;
    
}