* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#total_container {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

#main_container {
    width: 100%;
    height: auto;

    text-align: center;
}

.sub_container {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.input_container {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.textarea_container {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h1,
h2 {
    margin-bottom: 10px;

}

label {
    display: inline-block;
    width: 50px;
    height: 30px;
    line-height: 30px;
}

button {
    width: 100px;
    height: 30px;

    background-color: lightblue;
    border: 1px solid lightblue;
    color: white;
}

input {
    width: 100px;
    height: 30px;
    padding: 5px;

    text-align: center;
    line-height: 30px;

    outline: none;
    border: 1px solid lightblue;
}

textarea {
    width: 200px;
    height: 50px;

    text-align: center;

    resize: none;
    outline: none;
    border: 1px solid lightblue;
}

.post{
    margin-bottom:10px;
    border:3px solid lightblue;
}

.red_text{
    color:red;
}